/* Setting up the flexbox navigation menu */
html {
    box-sizing: border-box;
  }

/* overriding standard settings */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
/* all general settings go here such as font, background color etc*/

  body {
    font-family: 'Oswald', sans-serif;
  }
  
  nav {
    width: 100%;
    background-color: #4c4d50;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: #4c4d50;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }

/* Just a quick heads-up: have you seen that the Fontys logo is clickable? Why don't you try that right now  */
.logo {
    display: inline-block;
  }

/* Need to replace this with a proper way to create spacing */
  .spacing {
    padding: 50px 0 50px 50px;
    background-color: #4c4d50;
    margin: 0 0 100px;
    color: white;
  }

/* Need to replace this with a proper way to create spacing */

.footer {
  padding: 100px 0 100px 50px;
  background-color: #4c4d50;
  margin: 100px 0 0 0;
  color: white;
}

  .EmbassyFont {
    text-align: center;
    color: #0031A0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 22.4px;
  }
