/* ==============
Global properties
============== */

/* Setting up the flexbox navigation menu */
  html {
    box-sizing: border-box;
  }

/* overriding standard settings */
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
  }
 
/* ==============
Navigation menu
============== */

  nav {
    width: 100%;
    background-color: #4c4d50;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: #4c4d50;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }

/* ============== 
/* Just a quick heads-up: have you seen that the Fontys logo is clickable? Why don't you try that right now
============== */

  .logo {
    display: inline-block;
  }

/* ==============
Block properties
============== */

  .Wide-divider {
    padding: 50px 0 50px 50px;
    background-color: #4c4d50;
    color: white;
  }

  .footer {
    display: block;
    width: 100%;
    padding: 50px 0 50px 50px;
    background-color: #4c4d50;
    color: white;
    text-align: center;
  }

/* ==============
Grid settings
============== */

  .container {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    height: 600px;
    /* margin: 10px; */
    display: inline-grid;
    grid-template-columns: 70vw 1fr;
    grid-template-rows: 25% 75%;
  }

  .cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
  }

/* ==============
Cell 1
============== */

  .cell-1 {
      background: black;
    }

  .Cell-1 header {
      font-size: 50px;
  }

/* ==============
Cell 2
============== */

  .cell-2 {
    background: black;
  }

/* ==============
Cell 3
============== */

  .cell-3 {
    /* background: url('../img/HeinekenBackground.jpg');
    background-position: center;
    background-size: 160%; */
    background: darkgreen;
  }

  .cell-3 img {
    height: 300px;
    width: auto;
    /* transition: 0.3s; */
  }
  
  /* .cell-3 img:hover {
    transform: scale(1.3);
    transition: 0.3s;
  } */

/* ==============
Cell 4
============== */

  .cell-4 {
    background: green;
  }

  .cell-4 img {
    height: 200px;
    width: auto;
  }

  .cell-4 p {
    font-size: 50px;
  }

  .bottleZeroOne {
    scale: 200%;
    width: auto;
  }